{% extends 'layouts/app.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<h1 class="texto">Welcome to<br>DavisFramework</h1>
	</div>
	<br><br>
	<h4>{{ autor }}</h4>
</div>
{% endblock %}
